:root {
    --main-color: #373C38;
    --accent-color: #005BAC;
    --base-color: #E3E7EA;
    --section-margin: 2em;
    --section-gap: 5em;
    --page-padding: 10em;
    --radius: 8px;
}

body{
    font-family: "IBM Plex Sans JP", sans-serif;
    background: var(--base-color);
    color: var(--main-color);
    overflow-wrap: anywhere; /* 収まらない場合に折り返す */
    word-break: normal; /* 単語の分割はデフォルトに依存 */
    line-break: strict; /* 禁則処理を厳格に適用 */
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration:none;
    color: var(--main-color);
    transition: all .3s;
}

a:hover{
    opacity: 0.5;
    transition: all .3s;
}

img{
    border-radius: var(--radius);
}

.flex{
    display: flex;
}

.logo{
    width:20%;
    height: auto;
    filter: invert(13%) sepia(99%) saturate(7480%) hue-rotate(198deg) brightness(95%) contrast(103%);
}

.header {
    position: relative;
    width: 100%;
    background: rgb(236, 240, 242, 0.6);
    backdrop-filter: blur(10px);
    padding: 1em var(--page-padding);
    border-bottom: 0.5px solid rgb(82, 86, 83, 0.2);
    font-size: 14px;
    z-index: 2;

    .list{
        li{
            margin-left: 20px;
        }
    }
}

.nav {
    justify-content: space-between;
}

.list {
    align-items: center;
}

.container {
    position: relative;
    z-index: 1;
    padding: 0 var(--page-padding);
}

.top {
    width: 100%;
    position: relative;
    height: calc(100dvh - 10em);
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 2;

    p {
        padding-bottom: 4%;

        &:last-child {
            padding: 0;
        }
    }
}

.section {
    margin-top: 10em;
}

.section-content{
    margin-top: var(--section-margin);
    gap: var(--section-gap);
}

.paper-img{
    width: 30%;
    height: auto;
    flex-shrink: 0;

    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.paper-container{
    gap: 2em;
    flex-direction: column;
    align-items: flex-start;
}

.paper{
    flex: 1;
}

.paper-title{
    a{
        font-size: 25px;
        font-weight: 700;
        color: var(--accent-color);
    }
}

.paper-author,
.paper-publish {
    margin-top: 1em;
    font-size: 0.9em;
}

.paper-content {
    flex: 1;
    margin-top: 1em;
    line-height: 2;
}

.equi-section{
    --section-gap: 5em;
    /* width: 700px; */
    margin-top: var(--section-margin);
    gap: var(--section-gap);
}

.equi-area{
    width: 40%;
}

.equi-content{
    margin-top: 2em;
    height: 5em;
}

.equi-img{
    width: 100%;
    height: 100%;
    margin-top: 2em;
}

.member-section,
.room-section,
.access-section,
.access-content{
    margin-top: var(--section-margin);
}

.member-content{
    font-weight: 500;
    p{
        margin-top: 1em;
    }
}

.member-content-en{
    margin-top: 2em;
}

.professor{
    font-size: 20px;
    font-weight: 700;
}

.room-img,
.map-img{
    margin-top: 2em;
    
    img{
        width: 60%;
        height: 100%;
    }
}

.access-room{
    margin-top: 1em;
}

.blue-title{
    font-size: 25px;
    font-weight: 700;
    color: var(--accent-color);
}

.more{
    display: flex;
    width: 100%;
    margin-top: 2em;
    justify-content: end;
}

.researches-article{
    .section-content{
        --section-margin: 5em;
    }
}

.equi-article {
    --section-margin: 5em;
    margin-top: var(--section-margin);

    .section-content {
        display: flex;
        gap: 5em;
        align-items: flex-start; /* 上揃えにします */
    }

    .section-equi {
        flex: 1;
    }

    .section-equi-content {
        --section-margin: 5em;
        margin-top: var(--section-margin);
    }

    .img-area {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 20%; /* ここで画像エリア全体の幅を指定します */
    }

    .center-img {
        width: 40%; /* 中央の画像の幅を指定します */
        flex-shrink: 0;
    }

    .center-img-flex{
        display: flex;
        width: 40%;
        flex-shrink: 0;
        gap: 2em;

        img{
            width: 50%;
            height: auto;
        }
    }

    .center-img img, .img-area img {
        width: 100%; /* 画像を親要素の幅に合わせます */
        height: auto; /* 高さは自動調整 */
        object-fit: cover; /* 画像を枠内に収める */
        flex-shrink: 0; /* 画像の幅を固定 */
    }

    .img-warm{
        display: flex;
        width: 100%;
        align-items: end;
        gap: 1em;

        img{
            width: 50%;
        }
    }
}

.member-article{
    .link-button-area{
        margin-top: var(--section-margin);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
    }

    .margin-top{
        margin-top: 3em;
    }

    .member-area{
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        column-gap: 20px;
        /* gap: 2em; */

    }

    .member-section{
        --section-margin: 5em;
    }

    .professor{
        margin-top: 0.5em;
    }
}

.room-article{
    .section-content{
        --section-margin: 5em;
    }

    .section-room{
        p{
            margin-top: 1em;
        }
    }


    .room-img{
        width: 70%;
        height: 700px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .room-img-another{
        margin-top: 2em;
        display: flex;
        width: 70%;
        height: auto;
        gap: 2em;
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

.paper-button{
    padding: 1em 2em;
    background: rgb(252, 253, 255, 0.6);
    backdrop-filter: blur(10px);
    width: fit-content;
    border-radius: var(--radius);
    display: flex;
    font-weight: 700;
    gap: .5em;
    align-items: center;

    &:hover{
        opacity: 1;
        color: var(--base-color);
        background: rgb(55, 60, 56);
    }

    img{
        width: 20px;
        height: 20px;
        border-radius: 0;
    }
}

.footer {
    position: relative;
    background: rgb(236, 240, 242, 0.6);
    padding: 3% var(--page-padding);
    margin-top: 20%;
    z-index: 2;
    
    .div {
        &:first-child {
            margin-right: 10%;
        }
        li {
            margin-bottom: 10%;
        }
    }

    .logo{
        width: 100%;
        height: auto;
    }
    
    .logo-area {
        width: 7%;
    }
}

.cont {
    padding-bottom: 5%;

    &:last-child {
        padding: 0;
    }
    
    p{
        margin-bottom: 2%;
    }
}

.button-back{
    --section-margin: 10em;
    margin-top: var(--section-margin);
}

.buttonLink {
    display: flex;
    padding: 1em 2em;
    justify-content: center;
    align-items: center;
    gap: 1em;
    transition: .3s all;
}

.moreButton {
    width: fit-content;
    /* height: 30px; */
    background-color: var(--main-color);
    color: var(--base-color);
    border-radius: 999px;
    font-size: 15px;
    transition: .3s all;

    &:hover {
        color: var(--main-color);
        background-color: var(--base-color);
        opacity: 1;
        transition: .3s all;
        border: var(--main-color) solid 0.5px;
    }

    &:hover .arrowRight{
        width: 10em;
        color: var(--main-color);
    }

    &:hover .arrowLeft{
        width: 10em;
        color: var(--main-color);
    }

    a{
        color: var(--base-color);

        &:hover {
            color: var(--main-color);
        }
    }
}

.arrowRight {
    display: inline-block;
    vertical-align: middle;
    color: var(--base-color);
    line-height: 1;
    position: relative;
    width: 2em;
    height: 0.1em;
    background: currentColor;
    transition: .3s all;

    &::before {
        content: '';
        width: 0.65em;
        height: 0.65em;
        border: 0.1em solid currentColor;
        border-left: 0;
        border-bottom: 0;
        transform: rotate(45deg);
        transform-origin: top right;
        position: absolute;
        top: 50%;
        right: -0.05em;
        box-sizing: border-box;
    }
}

.arrowLeft {
    display: inline-block;
    vertical-align: middle;
    color: var(--base-color);
    line-height: 1;
    position: relative;
    width: 2em;
    height: 0.1em;
    background: currentColor;
    transition: .3s all;

    &::before {
        content: '';
        width: 0.65em;
        height: 0.65em;
        border: 0.1em solid currentColor;
        border-left: 0;
        border-bottom: 0;
        transform: rotate(-135deg);
        transform-origin: top left;
        position: absolute;
        top: 0.5em;
        left: 0.3em;
        box-sizing: border-box;
    }
}

.background {
    position: fixed;
    display: flex;
    width: 100dvw;
    /* height: 100dvh; */
    height: 100%;
    justify-content: center;
    align-items: center;
}

.circle {
    /* --sample-color: 121 165 205; */
    --sample-color: 137 173 205;
    aspect-ratio: 1 / 1;
    background: radial-gradient(circle,
            rgb(var(--sample-color)),
            rgba(var(--sample-color) / 0%));
    /* border-radius: 50%; */
    border-radius: 36% 42% 52% 30% / 21% 49% 38% 69%;
    filter: blur(30px);
    width: min(100%, 400px);
    animation: random-size-and-radius 8s infinite ease-in-out;
    z-index: -1;
}

@keyframes random-size-and-radius {
    0% {
        border-radius: 36% 42% 52% 30% / 21% 49% 38% 69%;
        transform: scale(1);
    }

    25% {
        border-radius: 40% 35% 55% 45% / 35% 30% 65% 60%;
        transform: scale(1.1);
    }

    50% {
        border-radius: 30% 60% 40% 50% / 50% 40% 30% 20%;
        transform: scale(0.9);
    }

    75% {
        border-radius: 50% 40% 30% 60% / 60% 50% 40% 30%;
        transform: scale(1.05);
    }

    100% {
        border-radius: 36% 42% 52% 30% / 21% 49% 38% 69%;
        transform: scale(1);
    }
}