:root {
    --main-color: #373C38;
    --accent-color: #005BAC;
    --base-color: #E3E7EA;
    --section-margin: 2em;
    --section-gap: 5em;
    --page-padding: 5em;
}

body{
    font-family: "IBM Plex Sans JP", sans-serif;
    background: var(--base-color);
    color: var(--main-color);
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

.logo{
    width:20%;
    height: auto;
    filter: invert(13%) sepia(99%) saturate(7480%) hue-rotate(198deg) brightness(95%) contrast(103%);
}

.footer .logo{
    width: 7%;
    height: auto;
}

.header {
    position: relative;
    width: 100%;
    background: rgb(236, 240, 242, 0.6);
    backdrop-filter: blur(10px);
    padding: 1em var(--page-padding);
    border-bottom: 0.5px solid rgb(82, 86, 83, 0.2);
    font-size: 14px;
    z-index: 2;
}

.nav {
    justify-content: space-between;
}

.list {
    align-items: center;
}

.header .list li {
    margin-left: 20px;
}

.footer {
    position: relative;
    background: rgb(236, 240, 242, 0.6);
    padding: 3% 3%;
    margin-top: 20%;
    z-index: 2;
}

.footer .div:first-child {
    margin-right: 10%;
}

.footer .div li {
    margin-bottom: 10%;
}

.cont {
    padding-bottom: 5%;
}

.cont:last-child {
    padding: 0;
}

.cont p {
    margin-bottom: 2%;
}